@function toRem($value) {
   $remValue: ($value / 16) + rem;
   @return $remValue;
}

.card {
   margin-bottom: 2rem;
   break-inside: avoid;
   &-text {
      background-color: #191a1d;
      padding: 2rem;
      font-size: 0.875rem;
      border-radius: 0 0 20px 20px;

      @media (min-width: 1024px) {
         font-size: 1rem;
         line-height: 28px;
      }

      &.is-big {
         padding: 2rem 2rem 3rem;
         border-radius: 20px 20px 0 0;
         @media (min-width: 768px) {
            border-radius: 20px 0 0 20px;
            padding: 50px 35px;
         }

         @media (min-width: 1024px) {
            padding: 86px 60px 32px 66px;
         }
      }
      h2 {
         font-size: 1.3125rem;
         @media (min-width: 768px) {
            margin-bottom: 25px;
         }
      }
   }

   &-img {
      border-radius: 20px 20px 0 0;
      overflow: hidden;
      &.is-big {
         border-radius: 0 0 20px 20px;
         @media (min-width: 768px) {
            border-radius: 0 20px 20px 0;
         }
      }

      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
         object-position: 50% 50%;
      }
   }

   &-meta {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      flex-wrap: wrap;
   }

   &-wrap {
      padding-bottom: toRem(50);
      @media (min-width: 520px) {
         column-count: 2;
         column-gap: 2rem;
      }

      @media (min-width: 1024px) {
         column-count: 3;
         padding-bottom: toRem(60);
      }

      @media (min-width: 1200px) {
         column-gap: toRem(76);
      }
   }
}

.cards {
   padding-bottom: toRem(100);
   padding-top: 2rem;
   .btn-holder {
      text-align: center;
   }

   @media (min-width: 768px) {
      padding-bottom: toRem(160);
   }

   @media (min-width: 1024px) {
      padding-bottom: toRem(208);
   }
}
